@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

/* Estilos asociados al encabezado */

#header {
    /* propiedad que permite alterar la altura */

    height: 100vh;
    background-image: url(../img/header_background.jpeg);
    background-position: center;
    background-size:cover
    
}

#header h1 {
    color: white;
    margin: 0;
    padding: 0 20%;
    font-size: 50px;
}
/* Dieseño Responsive*/

@media only screen and (max-width: 600px) {
    #header h1 {
        padding: 0 1%;
        font-size: 40px;
        }
}

#main {
    padding-left: 20%;
    padding-right: 20%;
}

#main p {
    font-size: 20px;
}

#main h1 {
    font-size: 40px;
}
h2{
    font-size: 25px;
}



@media only screen and (max-width: 600px) {
    #main {
        padding: 0 1%;
        font-size: 40px;
    }
    #main p {
    font-size: 15px;
    }

    #main h1 {
    font-size: 35px;
    }
}
iframe{
    width: 100%;
    height: 400%;
}

.font2 {
    font-family: 'BhuTuka Expanded One', cursive;
}

.imagenes {
    width: 100%;
}

#fother {
    text-align: center;
    color: rgba(194, 194, 194, 0.986);
    background-color: black;
    padding-top: 15px;
    padding-bottom: 15px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}